h1, h2, h3, h4{
	font-family: "Nosifer", sans-serif;
}

p, li, a, footer, input, button  {
	font-family: 'Modern Antiqua', sans-serif;
}

body {
	font-family: sans-serif;
	background-color: #090b11;
	color: white;
	margin: 0;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #161a1f;
}

.nav li {
	float: left;
}

.nav li.right {
	float: right;
}

.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav a:hover:not(.active) {
	background-color: #ff8533;
}

.nav a.active {
	background-color: #ff8533;
}

main {
	padding: 0 25px;
}

@media screen and (max-width: 600px) {
	.nav li.right,
	.nav li {
		float: none;
	}
}

.home-main {
	text-align: center;
}

#orange {
	color: #ff8533;
}

#banner {
	width: 100%;
	height: 100%;
}

/* Opening Section */

#opening {
	padding-top: 50px;
	padding-bottom: 60px;
}

#opening h2 {
	color: #ff8533;
	font-size: 24px;
}

#opening p {
	padding-bottom: 25px;
}

#home-button {
	background-color: #ff8533;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 35px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	color: white;
}

button:hover {
	background-color: #ff8533;
	opacity: 0.9;
}

/* Featured Games */

#featured {
	color: #ff8533;
	margin-bottom: 10px;
}

.home-section {
	display: table;
	white-space: nowrap;
}

.home-figure {
	background-color: #161a1f;
	display: inline-block;
	overflow: auto;
	padding-top: 20px;
	width: 29%;
	margin: 15px;
}

.home-figure:hover {
	-moz-box-shadow: 0 0 5px #ff8533;
	-webkit-box-shadow: 0 0 5px #ff8533;
	box-shadow: 0 0 5px #ff8533;
}

.home-figure img {
	width: 100%;
}

.home-figure h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 0;
}

.home-figure a {
	text-decoration: none;
	color: white;
}

/* Latest News */

#latest {
	margin-top: 70px;
	font-size: 24px;
	margin-bottom: 25px;
	color: #ff8533;
}

.news {
	width: 100%;
	padding: 0.5px;
	background-color: #161a1f;
	margin-bottom: 20px;
}

.news h3 {
	text-align: left;
	padding-left: 15px;
	color: #ff8533;
}

.news p {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
	.home-section {
		display: table;
		white-space: normal;
	}
	.home-figure {
		display: inline-block;
		width: 60%;
	}
}

.games-h1 {
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 0;
	text-align: center;
	color: #ff8533;
}

/* Game Blocks */

.games-section {
	display: table;
	white-space: nowrap;
	text-align: center;
}

.games-figure {
	background-color: #161a1f;
	display: inline-block;
	overflow: auto;
	padding-top: 20px;
	width: 29%;
	margin: 15px;
}

.games-figure:hover {
	-moz-box-shadow: 0 0 5px #ff8533;
	-webkit-box-shadow: 0 0 5px #ff8533;
	box-shadow: 0 0 5px #ff8533;
}

.games-figure img {
	width: 100%;
}

.games-figure h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 0;
}

.games-figure a {
	text-decoration: none;
	color: white;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
	.games-section {
		display: table;
		white-space: normal;
	}
	.games-figure {
		display: inline-block;
		width: 70%;
	}
}

.contact-h1 {
	text-align: center;
	margin-bottom: 0;
}

/* Contact Form*/

.contact-container {
	font-family: 'Modern Antiqua';
	font-weight: bold;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
}

.contact-container input, textarea {
	font-family: 'Modern Antiqua';
}

.contact-form {
	font-family: 'Modern Antiqua';
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 18px;
	padding: 10px;
}

#message {
	font-family: 'Modern Antiqua';
	height: 200px;
}

#submit {
	background-color: #ff8533;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit:hover {
	background-color: #ff8533;
	opacity: 0.9;
}

/* Responsive Layout */
@media screen and (max-width: 600px) {
	.container {
		width: 70%;
	}
}

body {
	font-family: sans-serif;
}

.login-h1 {
	text-align: center;
	margin-bottom: 0px;
}
.login-p {
	margin-top: 0px;
	padding-top: 10px;
	text-align: center;
}

.login-container {
	font-family: 'Modern Antiqua';
	font-weight: bold;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
}

.login-form{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#message {
	height: 200px;
}

#submit {
	background-color: #ff8533;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit:hover {
	background-color: #ff8533;
	opacity: 0.9;
}

@media screen and (max-width: 600px) {
	.container {
		width: 70%;
	}
}

body {
	font-family: sans-serif;
}

.register-h1 {
	text-align: center;
	margin-bottom: 0px;
}

.register-p {
	margin-top: 0px;
	padding-top: 10px;
	text-align: center;
	font-size: 17px;
	margin-bottom: 0;
}

.register-container {
	font-family: 'Modern Antiqua';
	font-weight: bold;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
}

.register-form {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#message {
	height: 200px;
}

#submit {
	background-color: #ff8533;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit:hover {
	background-color: #ff8533;
	opacity: 0.9;
}

@media screen and (max-width: 600px) {
	.container {
		width: 70%;
	}
}

.game_head {
	color: #ff8533;
	text-align: center;
}

/* Game Description */
.forum-list {
	padding-left: 100px;
	padding-right: 100px;
}
.game_desc {
	background-color: #161a1f;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}

.game_img {
	display: table;
	border-collapse: separate;
	border-spacing: 25px 5px;
}

.forum-figure {
	display: table-cell;
	background-color: #161a1f;
	padding-top: 20px
}

.forum-figure img {
	width: 100%;
}

.forum-figure li {
	padding-left: 50px;
	padding-right: 50px;
}

.about {
	padding: 15px;
	text-align: center;
	padding-top: 0;
}

.checked {
	color: #ff8533;
}

.about h4 {
	margin: 0;
	padding: 0;
}

/* Review Board */

.messageboard h2 {
	color: #ff8533;
	text-align: center;
	font-size: 26px;
}

.review_block {
	width: 100%;
	padding: 0.5px;
	background-color: #161a1f;
	margin-bottom: 25px;
}

.review_block h3 {
	text-align: left;
	padding-left: 15px;
	color: #ff8533;
}

.review_block p {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

/* Write A Review */

.write_review {
	margin-top: 35px;
	margin-bottom: 40px;
}

.write_review textarea {
	font-family: 'Modern Antiqua';
}

.forum-form {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: sans-serif;
	box-sizing: border-box;
	margin-bottom: 18px;
	padding: 10px;
}

#review {
	height: 200px;
}

#forum-submit {
	background-color: #ff8533;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#forum-submit:hover {
	background-color: #ff8533;
	opacity: 0.9;
}

.rating label:before {
	font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.write_review h2{
	color: #ff8533;
	text-align: center;
}

.rating .half:before {
  content: "\f089";
  position: absolute;
}

.rating {
  border: none;
  float: left;
	display: flex;
  flex-direction: row-reverse;
}

.rating input {
	display: none;
	flex: 0 0 auto;
 }


 .rating > input:checked ~ label, /* show gold star when clicked */
 .rating:not(:checked) > label:hover, /* hover current star */
 .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

 .rating > input:checked + label:hover, /* hover current star when changing rating */
 .rating > input:checked ~ label:hover,
 .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
 .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* Make columns responsive */
@media screen and (max-width: 750px) {
	.forum-figure {
		display: inline-block;
	}
}

.delete {
	text-align: center;
}

.delete-container {
	font-weight: bold;
	width: 50%;
	margin: 0 auto;
}

.confirm-delete {
	font-weight: bold;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
}

#back {
	font-weight: bold;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

.confirm {
	text-align: center;
	color: #ff8533;
}

footer {
	background-color: #161a1f;
	width: 100%;
	bottom: 0;
}

footer div {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	font-size: 14px;
}
