{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
<body>
{{ layouts.nav('contact', links) }}
	<main>
  	<h2>Contact Page</h2>
			<div class="container">
      	<form action="/action_page.php">
	        <label for="fullname">Full Name</label>
	        <input type="text" id="fullname" name="name" placeholder="Your Full Name">
	        <label for="email">Email</label>
	        <input type="text" id="email" name="email" placeholder="Your Email Address">
	        <label for="subject">Subject</label>
	        <input type="text" id="subject" name="subject" placeholder="Subject Here">
	        <label for="message">Message</label>
	        <textarea id="message" name="message" placeholder="Write your message here.."></textarea>
	        <input type="submit" value="Submit" id="submit">
        </form>
			</div>
	</main>
</body>
</html>
