<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doki-Doki Literature Club</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Doki-Doki Literature Club</h2>
        <div class="row">
            <div class="column">
								  <img src="../img/ib.jpg">
            </div>
            <div class="column2">
                <h2>About the Game:</h2>
                <p>Review Score: 5/5</p>
								<p>Join the Literature Club and get to know the girls Sayori, Natsuki, and Monika.
								make friends with everyone and help the club become a more intimate place for all the members.
							  Who will you spend the most time with? Maybe Monika?</p>
            </div>
        </div>
        <br>
				<section class="messageboard">
						<h2>Reviews</h2>
						<div class="review">
								<h3>Review 1</h3>
								<p>This game is not what I expected at all. I don't want to get into ny spoilers, but this game is catergorized a horror game for a reason.</p>
						</div>

        </div>
    </main>
</body>
</html>
