<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alien: Isolation</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Alien: Isolation</h2>
				<section class="game_desc">
						<section class="game_img">
								<figure>
										<img alt="alien" src="../img/alien.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/alien.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/alien.jpg">
								</figure>
					 </section>
					 <div class="about">
					 			<h2>About the Game:</h2>
								<p>Review Score: 5.0</p>
								<p>15 years after the original Alien film, Amanda Ripley learns of a flight recorder
								from her mother's ship is being held in a space station called "Sevastopol". Once onboard
								she disovers that the space station is out of control due to an alien creature. Help her
								uncover the truth of alien's arrival at the space station and escape.</p>
					 </div>
				</section>
        <section class="messageboard">
        		<h2>Reviews</h2>
						<div class="review">
                <h3>Review 1</h3>
								<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
								to the movie it is based on.</p>
            </div>
            <div class="review">
								<h3>Review 2</h3>
								<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
								to the movie it is based on.</p>
            </div>
						<div class="review">
								<h3>Review 2</h3>
								<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
								to the movie it is based on.</p>
            </div>
        </section>
    </main>
</body>
</html>
