<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silent 2 Hill</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Silent Hill 2</h2>
        <div class="row">
            <div class="column">
								  <img src="../img/ib.jpg">
            </div>
            <div class="column2">
                <h2>About the Game:</h2>
                <p>Review Score: 5/5</p>
								<p>The next entry in the Silent Hill series. One day James sunderland
								recieves a letter from his wife asking him to visit her in their special place
								in Silent hill. But, Mary has been dead for over a year. Is Mary really there waiting for him? Fight through the horrifying monsters
								of silent hill to uncover the truth.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="messageboard">
                <h2>Reviews</h2>
                <p>The best horror game of all time period. Amazing story with a twist you never saw coming, horrifying monsters, amazing music/sound design,
								great voice actors. New horror games don't compare to this amazing game.</p>
            </div
        </div>
    </main>
    <!--<footer>
        <div>Spooky Forums</div>
    </footer>-->
</body>
</html>
