#game_head {
	color: #ff8533;
  text-align: center;
}

.game_desc {
  background-color: #161a1f;
  width: 100%;
	float: left;
	height: 100%;
	margin-bottom: 40px;
}

.game_img {
	display: table;
	border-collapse: separate;
  border-spacing: 25px 5px;
}

figure {
	display: table-cell;
	background-color: #161a1f;
	padding-top: 20px
}

figure img {
	width: 100%;
}

.about {
	padding: 15px;
	text-align: center;
	padding-top: 0;
}

.messageboard {
  width: 100%;
}

.messageboard h2 {
	color: #ff8533;
	text-align: center;
}

.review {
	float: left;
	background-color: #161a1f;
	padding: 15px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 25px;
}

.review h3 {
	color: #ff8533;
}

/* Make columns responsive */
@media screen and (max-width: 750px) {
	figure {
		display: inline-block;
	}
}
