#game_head {
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 0;
  text-align: center;
	color: #ff8533;
}

section {
	display: table;
	white-space: nowrap;
}

figure {
	background-color: #161a1f;
	display: inline-block;
	overflow: auto;
	padding-top: 20px;
	width: 29%;
	margin: 15px;
}

figure:hover {
	-moz-box-shadow: 0 0 5px #ff8533;
	-webkit-box-shadow: 0 0 5px #ff8533;
	box-shadow: 0 0 5px #ff8533;
}

figure a {
	text-decoration: none;
	color: white;
}

figure img {
	width: 100%;
}

figcaption {
	padding-bottom: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
	figure {
		display: inline-block;
		margin-left: 15%;
		margin-top: 0;
		width: 70%;
		height: 50%;
	}
}
