<main>
		<h1 class="game_head">Alien: Isolation</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/alien1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/alien.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/alien2.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>How Will You Survive?</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
						</p>
						<p>Discover the true meaning of fear in Alien: Isolation, a survival horror set in an atmosphere of
						constant dread and mortal danger. Fifteen years after the events of Alien™, Ellen Ripley’s daughter,
						Amanda enters a desperate battle for survival, on a mission to unravel the truth behind her mother's
						disappearance.<br>
						<br>As Amanda, you will navigate through an increasingly volatile world as you find yourself
						confronted on all sides by a panicked, desperate population and an unpredictable, ruthless Alien.<br>
						<br>Underpowered and underprepared, you must scavenge resources, improvise solutions and use your
						wits, not just to succeed in your mission, but to simply stay alive.</p>
			 </div>
		</section>
