<main>
		<h1 class="register-h1">Delete My Account</h1>
		<p class="register-p">Are you sure you want to delete your account?</p>
		<div class="confirm-delete">
				<form action="/confirm-delete" method="POST">
						<input class="register-form" type="submit" value="Confirm" id="submit">
				</form>
		</div>
		<p class="register-p">Change your mind?</p>
		<div id="back">
				<form action="/keep-account" method="POST">
						<input class="register-form" type="submit" value="Go Back" id="submit">
				</form>
		</div>
</main>
