<main>
  <h1 class="games-h1">Spooky Games</h1>
		<section class="games-section">
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=alien">
								<h3>Alien: Isolation</h3>
								<img alt="alien" src="img/alien.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=ds">
								<h3>Dead Space</h3>
								<img alt="ds" src="img/ds.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=ds2">
								<h3>Dead Space 2</h3>
								<img alt="ds2" src="img/ds2.jpg">
						</a>
				</figure>
		</section>
		<section class="games-section">
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=doki-doki">
								<h3>Doki Doki</h3>
								<img alt="doki" src="img/dokidoki.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=hk">
								<h3>Hollow Knight</h3>
								<img alt="hk" src="img/hk.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=ib">
								<h3>Ib</h3>
								<img alt="ib" src="img/ib.jpg">
						</a>
				</figure>
		</section>
		<section class="games-section">
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=lm">
								<h3>Luigi's Mansion 3</h3>
								<img alt="lm" src="img/lm.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=pm">
								<h3>Pocket Mirror</h3>
								<img alt="pm" src="img/pm.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=re">
								<h3>Resident Evil</h3>
								<img alt="re" src="img/re.jpg">
						</a>
				</figure>
		</section>
		<section class="games-section">
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=re2">
								<h3>Resident Evil 2</h3>
								<img alt="re2" src="img/re2.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=re3">
								<h3>Resident Evil 3</h3>
								<img alt="re3" src="img/re3.jpg">
						</a>
				</figure>
				<figure class="games-figure">
						<a href="/get-reviews-from-db?id=sh2">
								<h3>Silent Hill 2</h3>
								<img alt="sh2" src="img/sh2.jpg">
						</a>
				</figure>
	</section>
	<br>
</main>
