<main>
		<h1 class="game_head">Hollow Knight</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="hk" src="img/hk2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="hk" src="img/hk.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="hk" src="img/hk3.jpg">
						</figure>
			 	</section>
			 	<div class="about">
						<h2>Forge your own path in Hollow Knight!</h2>
						<p>An epic action adventure through a vast ruined kingdom of insects and heroes.
						Explore twisting caverns, battle tainted creatures and befriend bizarre bugs,
						all in a classic, hand-drawn 2D style.</p>
						<ul class="forum-list">
								<li>Classic side-scrolling action, with all the modern trimmings. Dodge, dash and
								slash your way through even the most deadly adversaries.</li>
								<li>Includes all of the new items, areas, characters, and bosses from the currently
								released free content packs; Hidden Dreams, The Grimm Troupe, and Lifeblood.
								All players will also get access to the final free content pack, Gods and Glory,
								due later this year!</li>
								<li>Explore a vast interconnected world of forgotten highways, overgrown wilds and
								ruined cities. Choose which paths you take, which enemies you face and find your
								own way forward.</li>
								<li>Evolve with powerful new skills and abilities! Gain spells, strength and speed.
								Leap to new heights on ethereal wings. Dash forward in a blazing flash. Blast foes
								with fiery Soul!</li>
								<li>A haunting, intimate score accompanies the player on their journey, composed
								by Christopher Larkin. The score echoes the majesty and sadness of a civilisation
								brought to ruin.</li>
						</ul>
			 	</div>
		</section>
</main>
