<main>
		<h1 class="game_head">Ib</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="ib" src="img/ib2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ib" src="img/ib.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ib" src="img/ib3.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>An RPG Maker Puzzle-Oriented Horror Game</h2>

						<p>Take control of a young girl named Ib who goes on a trip to an
						art museum with her parents. There is a sudden black out and everyone is gone.
						She is led by paint splatters on the ground to a painting that takes her
						to a world within the paintings. Her life is now linked a red rose that she
						picks up and if all the petals fall off, she will die. Along the way, she finds
						friends who also have their own roses. Together, they solve puzzles and try to find
						a way back to the real world. Help Ib and her friends escape this world and reunite
						with her parents.</p>
			 </div>
		</section>
