<main>
		<h1 class="game_head">Ib</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="ib" src="img/ib2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ib" src="img/ib.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ib" src="img/ib3.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>An RPG Maker Puzzle-Oriented Horror Game</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
						</p>
						<p>Take control of a young girl named Ib who goes on a trip to an
						art museum with her parents. There is a sudden black out and everyone is gone.
						She is led by paint splatters on the ground to a painting that takes her
						to a world within the paintings. Her life is now linked a red rose that she
						picks up and if all the petals fall off, she will die. Along the way, she finds
						friends who also have their own roses. Together, they solve puzzles and try to find
						a way back to the real world. Help Ib and her friends escape this world and reunite
						with her parents.</p>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This was such an interesting game and I absolutely adored the characters. The puzzles were also fun to solve and weren't
						too difficult either. I just wished it was a little longer.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This was such an interesting game and I absolutely adored the characters. The puzzles were also fun to solve and weren't
						too difficult either. I just wished it was a little longer.</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This was such an interesting game and I absolutely adored the characters. The puzzles were also fun to solve and weren't
						too difficult either. I just wished it was a little longer.</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Ib"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
			</form>
		</section>
</main>
