<main>
		<h1 class="game_head">Luigi's Mansion 3</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="lm" src="img/lm3.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="lm" src="img/lm.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="lm" src="img/lm-ghost.jpg">
						</figure>
			 	</section>
			 	<div class="about">
						<h2>Luigi has to conquer his fears and explore the towering Last Resort hotel when Mario
						and his friends go missing!</h2>

						<p>Slam, blow away, and vacuum up ghosts with the all-new Poltergust G-00, and join
						forces with Gooigi to overcome the puzzling contraptions and mischievous boss on each
						themed floor. And that’s just the Last Resort. Enter the ScareScraper for 8-player
						local wireless or online co-op gameplay.<br>

						<br>See if you can defeat all the ghosts, rescue all the toads, or clear other objectives
						before time runs out…in the ScareScraper! And for more mini-game madness, compete on
						teams at the ScreamPark! Whether you play with friends or wander the hotel alone,
						you’ll be sucked in by the atmospheric music and ghoulish décor of every cobwebby
						corner you explore. Why not take in the cinematic sights and sounds with a friend?
						In the main adventure, you and a friend can play together as Luigi and Gooigi in
						two-player co-op! Gooigi can walk on spikes, slip through tight spaces, and help
						Luigi overcome obstacles he can’t tackle alone. Never hurts to have a friend in this
						hotel; it may not be very spooky, but Luigi begs to differ!</p>
			 </div>
		</section>
</main>
