<main>
		<h1 class="register-h1">Log Out</h1>
		<p class="register-p">Are you sure you want to log out?</p>
		<div class="confirm-delete">
				<form action="/logout" method="POST">
						<input class="register-form" type="submit" value="Log Out" id="submit">
				</form>
		</div>
</main>
