<main>
		<h1 class="game_head">Pocket Mirror</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/pm1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/pm.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/pm2.jpg">
						</figure>
			 </section>
			 <div class="about">
					<h2>A Free RPG Mystery Horror Game</h2>

					<p>The tale begins when a young girl wakes up and begins exploring a mysterious world. She has lost
					her memory and is trying to figure out where she is and who she is. Her only keepsake that clues in
					on her identity is a pocket mirror. Help her uncover her true identity!</p>
			 </div>
	</section>
