<main>
		<h1 class="game_head">Pocket Mirror</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/pm1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/pm.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/pm2.jpg">
						</figure>
			 </section>
			 <div class="about">
					<h2>A Free RPG Mystery Horror Game</h2>
					<p>Review Score:
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
					</p>
					<p>The tale begins when a young girl wakes up and begins exploring a mysterious world. She has lost
					her memory and is trying to figure out where she is and who she is. Her only keepsake that clues in
					on her identity is a pocket mirror. Help her uncover her true identity!</p>
			 </div>
	</section>
	<div class="messageboard">
			<h2>Reviews</h2>
			<div class="review_block">
					<h3>Review 1</h3>
					<p>This was such a interesting game and I loved the many twists the story had. The characters were amazing and
					the horror moments were really creepy as well.</p>
			</div>
			<div class="review_block">
					<h3>Review 2</h3>
					<p>This was such a interesting game and I loved the many twists the story had. The characters were amazing and
					the horror moments were really creepy as well.</p>
			</div>
			<div class="review_block">
					<h3>Review 3</h3>
					<p>This was such a interesting game and I loved the many twists the story had. The characters were amazing and
					the horror moments were really creepy as well.</p>
			</div>
	</div>
	<section class="write_review">
		<form action="/put-review-in-db" method="POST">
			<ul id= "starRating" class="rating"  name="rating">
				<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
				<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
				<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
				<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
				<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
				<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
				<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
				<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
				<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
			</ul>
			<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
			<textarea hidden id="title" name="title">"Pocket Mirror"</textarea>
			<input type="submit" value="Submit" id="forum-submit">
		</form>
	</section>
</main>
