<main>
		<h1 class="game_head">Resident Evil</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/re1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re_1.jpg">
						</figure>
			 	</section>
			 	<div class="about">
						<h2>A Classic Never Dies</h2>
						<p>The year is 1998. The S.T.A.R.S. bravo team are searching for the lost alpha team in the Arklay Mountains when
						they discover monstrosities and the dead body of one of the alpha team members.
						They escape the monsters and wind up in a mysterious mansion. Where are the other
						alpha team members? What are these monsters? Enter the survival horror. </p>
			 	</div>
		</section>
</main>
