<main>
		<h1 class="game_head">Resident Evil 2</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/re2_.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re_2.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>Game Overview</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star-half-full checked"></span>
						</p>
						<p>The genre-defining masterpiece Resident Evil 2 returns, completely rebuilt from the ground
						up for a deeper narrative experience. Using Capcom's proprietary RE Engine, Resident Evil 2
						offers a fresh take on the classic survival horror saga with breathtakingly realistic visuals,
						heart-poundingly immersive audio, a new over-the-shoulder camera, and modernized controls on
						top of gameplay modes from the original game. The nightmares return reimagined for the
						PlayStation®4, Xbox One and Windows PC on January 25, 2019.<br>
						<br>In Resident Evil 2, the classic action, tense exploration, and puzzle solving gameplay
						that defined the Resident Evil series returns. Players join rookie police officer Leon
						Kennedy and college student Claire Redfield, who are thrust together by a disastrous outbreak
						in Raccoon City that transformed its population into deadly zombies. Both Leon and Claire
						have their own separate playable campaigns, allowing players to see the story from both
						characters' perspectives. The fate of these two fan favorite characters is in players hands
						as they work together to survive and get to the bottom of what is behind the terrifying
						attack on the city. Will they make it out alive?</p>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This remake of Resident Evil 2 is so good. I love how they made the zombies burst through doors and over the shoulder
						aiming doesn't make the game super easy like everyone expected it to be. Definitely a game I will playthrough multiple times.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This remake of Resident Evil 2 is so good. I love how they made the zombies burst through doors and over the shoulder
						aiming doesn't make the game super easy like everyone expected it to be. Definitely a game I will playthrough multiple times.</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This remake of Resident Evil 2 is so good. I love how they made the zombies burst through doors and over the shoulder
						aiming doesn't make the game super easy like everyone expected it to be. Definitely a game I will playthrough multiple times.</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Resident Evil 2"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
			</form>
		</section>
</main>
