<main>
		<h1 class="game_head">Resident Evil 3</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/re_3.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re3.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/re3_.jpg">
						</figure>
			 	</section>
			 	<div class="about">
						<h2>Game Overview</h2>
						<p>The third entry in the Resident Evil series. The T-virus has spread
						all over Racoon City and Jill Valentine is caught in the middle of it.
						However, the true threat isn't the zombies and monsters. Something seems
						to be after her and won't let her escape the city so easily.</p>
			 	</div>
		</section>
</main>
