<main>
		<h1 class="game_head">Silent Hill 2</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="sh2" src="img/sh_2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="sh2" src="img/sh2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="sh2" src="img/sh2_.jpg">
						</figure>
			 	</section>
			 	<div class="about">
						<h2>Game Overview</h2>
						<p>The second entry in the Silent Hill series. One day, James Sunderland
						recieves a letter from his wife asking him to visit her in their special place
						in Silent Hill. Mary has been dead for over a year though! Is Mary really there
						waiting for him? Fight through the horrifying monsters of Silent Hill to
						uncover the truth.</p>
			 	</div>
		</section>
</main>
