{% macro nav(choice, linkArray) %}
	{%- if choice == "none" %}
			<ul class="nav">
          <li><a href="index">Home</a></li>
          <li><a href="games">Games</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="right"><a href="register">Sign Up</a></li>
          <li class="right"><a href="login">Log In</a></li>
      </ul>
	{%- endif %}
	{%- if choice == "index" %}
			<ul class="nav">
          <li><a class="active" href="index">Home</a></li>
          <li><a href="games">Games</a></li>
          <li><a href="contact">Contact</a></li>
          {% if isAuthenticated %}
							<li class="right"><a href="logout">Logout</a></li>
							<li class="right"><a href="profile">Profile</a></li>
					{% else %}
          		<li class="right"><a href="register">Sign Up</a></li>
              <li class="right"><a href="login">Log In</a></li>
          {% endif %}
      </ul>
	{%- endif %}
	{%- if choice == "games" %}
			<ul class="nav">
          <li><a href="index">Home</a></li>
          <li><a class="active" href="games">Games</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="right"><a href="register">Sign Up</a></li>
          <li class="right"><a href="login">Log In</a></li>
      </ul>
	{%- endif %}
	{%- if choice == "contact" %}
			<ul class="nav">
          <li><a href="index">Home</a></li>
          <li><a href="games">Games</a></li>
          <li><a class="active" href="contact">Contact</a></li>
          <li class="right"><a href="register">Sign Up</a></li>
          <li class="right"><a href="login">Log In</a></li>
      </ul>
	{%- endif %}
	{%- if choice == "login" %}
			<ul class="nav">
          <li><a href="index">Home</a></li>
          <li><a href="games">Games</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="right"><a href="register">Sign Up</a></li>
          <li class="right"><a class="active" href="login">Log In</a></li>
      </ul>
	{%- endif %}
	{%- if choice == "register" %}
			<ul class="nav">
          <li><a href="index">Home</a></li>
          <li><a href="games">Games</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="right"><a class="active" href="register">Sign Up</a></li>
          <li class="right"><a href="login">Log In</a></li>
      </ul>
	{%- endif %}
	{%- if choice == "profile" %}
  			<ul class="nav">
            <li><a href="index">Home</a></li>
            <li><a href="games">Games</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="right"><a href="logout">Log Out</a></li>
            <li class="right"><a class="active" href="profile">Profile</a></li>
        </ul>
  {%- endif %}
  	{%- if choice == "logout" %}
    			<ul class="nav">
              <li><a href="index">Home</a></li>
              <li><a href="games">Games</a></li>
              <li><a href="contact">Contact</a></li>
              <li class="right"><a class="active" href="logout">Log Out</a></li>
              <li class="right"><a href="profile">Profile</a></li>
          </ul>
    {%- endif %}
{%- endmacro -%}
