{% import "../variables.njk" as vars%}
{% macro head(title) -%}
	 <meta charset="utf-8">
	 <title id="pageTitle">{{ title }}</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="styles/main.css">
	 <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	 <link href="https://fonts.googleapis.com/css?family=Modern+Antiqua&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Nosifer&display=swap" rel="stylesheet">
{%- endmacro %}
