<main>
		<h1 class="game_head">Resident Evil</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="../img/re1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="../img/re.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="../img/re_1.jpg">
						</figure>
			 </section>
			 <div class="about">
					<h2>A Classic Never Dies</h2>
					<p>Review Score:
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star-half-full checked"></span>
					</p>
					<p>The year is 1998. The S.T.A.R.S. bravo team are searching for the lost alpha team in the Arklay Mountains when
					they discover monstrosities and the dead body of one of the alpha team members.
					They escape the monsters and wind up in a mysterious mansion. Where are the other
					alpha team members? What are these monsters? Enter the survival horror. </p>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This remake of a classic was absolutely perfect. The enviroments looked great, the puzzles were fun to solve, and the story
						was pretty good too. Definitely one of the best horro games ever made.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This remake of a classic was absolutely perfect. The enviroments looked great, the puzzles were fun to solve, and the story
						was pretty good too. Definitely one of the best horro games ever made.</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This remake of a classic was absolutely perfect. The enviroments looked great, the puzzles were fun to solve, and the story
						was pretty good too. Definitely one of the best horro games ever made.</p>
				</div>
		</div>
		<section class="write_review">
				<form action="/action_page.php">
					<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
					<input type="submit" value="Submit" id="forum-submit">
				</form>
		</section>
</main>
