<main>
		<h1 class="game_head">Alien: Isolation</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="alien" src="img/alien1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/alien.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="alien" src="img/alien2.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>How Will You Survive?</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
						</p>
						<p>Discover the true meaning of fear in Alien: Isolation, a survival horror set in an atmosphere of
						constant dread and mortal danger. Fifteen years after the events of Alien™, Ellen Ripley’s daughter,
						Amanda enters a desperate battle for survival, on a mission to unravel the truth behind her mother's
						disappearance.<br>
						<br>As Amanda, you will navigate through an increasingly volatile world as you find yourself
						confronted on all sides by a panicked, desperate population and an unpredictable, ruthless Alien.<br>
						<br>Underpowered and underprepared, you must scavenge resources, improvise solutions and use your
						wits, not just to succeed in your mission, but to simply stay alive.</p>
			 </div>
		</section>
		<div class="messageboard" onLoad="displayReviews()">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
						to the movie it is based on..</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
						to the movie it is based on..</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>The gameplay is amazing and I love how scary it is when the alien appears and you have to hide to avoid it. I also love how the game is very loyal
						to the movie it is based on..</p>
				</div>
		</div>
		<section class="write_review">
			<h2>Leave a Review</h2>
				<form action="/put-review-in-db" method="POST">
					<ul id= "starRating" class="rating"  name="rating">
						<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
						<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
						<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
						<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
						<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
						<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
						<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
						<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
						<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
					</ul>
					<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
					<textarea hidden id="title" name="title">"Alien: Isolation"</textarea>
					<input type="submit" value="Submit" id="forum-submit">
				</form>
		</section>
</main>
