<main>
		<h1 class="game_head">Doki Doki Literature Club</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="doki" src="img/doki.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="doki" src="img/dokidoki.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="doki" src="img/doku.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>Welcome to the Literature Club!</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
						</p>
						<p>Join the Literature Club and get to know the girls Sayori, Natsuki, and Monika.
						Make friends with everyone and help the club become a more intimate place for all the members.
						Who will you spend the most time with? Maybe Monika?</p><br>
						<h4>DDLC Fan Pack</h4>
						<p>Doki Doki Literature Club is 100% free to play, but if you contribute $10 or more you will
						be rewarded with the DDLC Fan Pack!</p><br>
						<h4>What You Get</h4>
						<ul class="forum-list">
								<li>The complete DDLC Official Soundtrack with 24 tracks, including remixes, bonus tracks, sketches,
								and song variants not included in the game<br>
								<li>High-resolution wallpapers of in-game art for desktop and mobile<br>
								<li>DDLC Concept Art Booklet which includes concept art and developer notes, providing insight into
								early stages of development
						</ul>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This game is not what I expected at all. I don't want to get into ny spoilers, but this game is catergorized a horror game for a reason.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This game is not what I expected at all. I don't want to get into ny spoilers, but this game is catergorized a horror game for a reason..</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This game is not what I expected at all. I don't want to get into ny spoilers, but this game is catergorized a horror game for a reason..</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Doki-Doki Literature Club"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
				</form>
		</section>
</main>
