<main>
		<h1 class="game_head">Dead Space</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="ds" src="img/ds_1.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ds" src="img/ds.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ds" src="img/ds1.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>Only the Dead Survive</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star-half-full checked"></span>
						</p>
						<p>The USG Ishimura sends out a distress signal and the Kellion is sent to investigate.
						When their ship malfunctions and crashes into the Ishimura they encounter horrific monstrtosities.
						Take control of engineer Isaac Clarke and survive against these grotesque monsters and escape
						the Ishimura.</p><br>
						<h4>Messy monster slaying</h4>
						<p>The Necromorphs are unlike any enemies you've seen before. Headshots do
						about as much damage to them as flicking rubber bands. To survive, you'll need to dismember their
						insect-like limbs, one at a time.</p><br>
						<h4>Improvised weapons</h4>
						<p>There aren't many traditional firearms aboard the Ishimura, but there's plenty of stopping power
						in Isaac's toolkit. Send horizontal or vertical blasts of energy at enemies with the Plasma Cutter,
						remotely control a high-speed sawblade with the Disc Ripper, and fill hallways with wide swaths of
						destruction with the Line Gun. Switch things up with alternate fire modes, and purchase upgrades to
						increase ammo, power, and reload speed.</p><br>
						<h4>Real-time attacks</h4>
						<p>Whatever you do, don’t drop your guard. Everything takes place in real-time. That means any action
						you take, whether it be reloading or digging through your inventory, gives the Necromorphs a perfect
						opportunity to attack. This nightmare has just begun and it’s up to get to the bottom of what happened
						here.</p>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This is such an amazing game, the graphics are great, the combat is amazing, and it is extremely scary as well. You never know when
						one of the monsters will appear as you explore the ship.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This is such an amazing game, the graphics are great, the combat is amazing, and it is extremely scary as well. You never know when
						one of the monsters will appear as you explore the ship.</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This is such an amazing game, the graphics are great, the combat is amazing, and it is extremely scary as well. You never know when
						one of the monsters will appear as you explore the ship.</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Dead Space"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
			</form>
		</section>
</main>
