<main>
		<h1 class="game_head">Dead Space 2</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="ds2" src="img/ds_2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ds2" src="img/ds2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="ds2" src="img/ds2_.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>A Monster of a Sequel</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star-half-full checked"></span>
						</p>
						<p>The second entry in the Dead Space series. Three years after Dead Space,
						Isaac Clarke awakens in a space station called the "Sprawl." There is a new necropmorph
						oubreak aboard the Sprawl and it is up to Isaac to stop it and uncover the truth of
						the outbreak and the dimentia he is now experiencing.</p><br>
						<h4>Enter the Sprawl</h4>
						<p>The threat facing Isaac is no longer confined to a singular space station. You'll face Necromorphs
						in Zero G environments. Strap on your suit boosters, blast through the Church of Unitology, and jet
						across the Solar Array.</p><br>
						<h4>Fight a deadlier enemy</h4>
						<p>New Necromorph breeds await, including the stealthy Stalker strain and creepy, infested children
						known as The Pack. Use your unconventional arsenal of traditional firearms, like the mine-shooting
						Detonator, and weaponized engineering tools, like the rapid-fire Rivet Gun, and you just might make
						it out alive.</p><br>
						<h4>Are you crazy?</h4>
						<p>Delve into the mysteries surrounding the Necromorph infestation and learn more about Isaac
						Clarke's tortured past. You may even catch a glimpse of the elusive engineer's face as he interacts
						with the precious few survivors aboard The Sprawl.</p>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>This game isn't as horror focused as the first one but, it is still such a great game. The story is amazing and I love the new
							monster designs.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>This game isn't as horror focused as the first one but, it is still such a great game. The story is amazing and I love the new
							monster designs.</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>This game isn't as horror focused as the first one but, it is still such a great game. The story is amazing and I love the new
							monster designs.</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Dead Space 2"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
			</form>
		</section>
</main>
