<main>
		<h1 class="game_head">Hollow Knight</h1>
		<section class="game_desc">
				<section class="game_img">
						<figure class="forum-figure">
								<img alt="hk" src="img/hk2.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="hk" src="img/hk.jpg">
						</figure>
						<figure class="forum-figure">
								<img alt="hk" src="img/hk3.jpg">
						</figure>
			 </section>
			 <div class="about">
						<h2>Forge your own path in Hollow Knight!</h2>
						<p>Review Score:
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star-half-full checked"></span>
						</p>
						<p>An epic action adventure through a vast ruined kingdom of insects and heroes.
						Explore twisting caverns, battle tainted creatures and befriend bizarre bugs,
						all in a classic, hand-drawn 2D style.</p>
						<ul class="forum-list">
								<li>Classic side-scrolling action, with all the modern trimmings. Dodge, dash and
								slash your way through even the most deadly adversaries.</li>
								<li>Includes all of the new items, areas, characters, and bosses from the currently
								released free content packs; Hidden Dreams, The Grimm Troupe, and Lifeblood.
								All players will also get access to the final free content pack, Gods and Glory,
								due later this year!</li>
								<li>Explore a vast interconnected world of forgotten highways, overgrown wilds and
								ruined cities. Choose which paths you take, which enemies you face and find your
								own way forward.</li>
								<li>Evolve with powerful new skills and abilities! Gain spells, strength and speed.
								Leap to new heights on ethereal wings. Dash forward in a blazing flash. Blast foes
								with fiery Soul!</li>
								<li>A haunting, intimate score accompanies the player on their journey, composed
								by Christopher Larkin. The score echoes the majesty and sadness of a civilisation
								brought to ruin.</li>
						</ul>
			 </div>
		</section>
		<div class="messageboard">
				<h2>Reviews</h2>
				<div class="review_block">
						<h3>Review 1</h3>
						<p>Hollow Knight is exceptional because its smaller, expertly designed
								parts fit so well together over an extraordinarily long adventure. Its expansive enemy
								roster and routinely surprising areas and platforming challenges ensure that your
								journey through this fallen bug kingdom is one you're unlikely to forget. Hollow
								Knight offers a surprisingly large and haunting adventure.</p>
				</div>
				<div class="review_block">
						<h3>Review 2</h3>
						<p>Hollow Knight is an amazing metroidvania game in every way. The art and music
								are absolutely beautiful and work great together. Its 2D world is rich and story is
								unexpectedly compelling!</p>
				</div>
				<div class="review_block">
						<h3>Review 3</h3>
						<p>Hollow Knight is a beautiful Metroidvania that is absolutely rich
								in detail from its dynamic combat system to its charming art and sound
								design. This is one of the greatest adventures you can go on, I highly recommend
								playing it.</p>
				</div>
		</div>
		<section class="write_review">
			<form action="/put-review-in-db" method="POST">
				<ul id= "starRating" class="rating"  name="rating">
					<input type="radio" value="5" id = "star5" name="rating"><label title="Awesome - 5 stars" for="star5" class="full"></label></input>
					<input type="radio" value="4.5" id = "star4half" name="rating"><label title="Awesome - 4.5 stars"for="star4half" class="half"></label></input>
					<input type="radio" value="4" id = "star4"  name="rating"><label for="star4" title="Awesome - 4 stars" class="full"></label></input>
					<input type="radio" value="3.5" id = "star3half"  name="rating"><label  title="Awesome - 3.5 stars"for="star4half"class="half"></label></input>
					<input type="radio" value="3" id = "star3"  name="rating"><label for="star3" title="Awesome - 3 stars"class="full"></label></input>
					<input type="radio" value="2.5" id = "star2half"  name="rating"><label for="star2half" title="Awesome - 2.5 stars"class="half"></label></input>
					<input type="radio" value="2" id = "star2"  name="rating"><label for="star2" class="full"></label></input>
					<input type="radio" value="1.5" id = "star1half"  name="rating"><label for="star1half" class="half"></label></input>
					<input type="radio" value="1" id = "star1"  name="rating"><label for="star1" class="full"></label></input>
				</ul>
				<textarea class="forum-form" id="review" name="review" placeholder="Write your review here.."></textarea>
				<textarea hidden id="title" name="title">"Hollow Knight"</textarea>
				<input type="submit" value="Submit" id="forum-submit">
			</form>
		</section>
</main>
