<main>
		<h1 class="register-h1">Sign Up</h1>
		<p class="register-p">Sign up to join the spooky forums community!</p>
		<div class="register-container">
				<form action="/create-user-in-db" method="POST">
						<label for="firstname">First Name</label>
						<input class="register-form" type="text" id="firstname" name="firstname" placeholder="First Name">
						<label for="lastname">Last Name</label>
						<input class="register-form" type="text" id="lastname" name="lastname" placeholder="Last Name">
						<label for="email">Email</label>
						<input class="register-form" type="text" id="email" name="email" placeholder="Your Email Address">
						<label for="username">Username</label>
						<input class="register-form" type="text" id="username" name="username" placeholder="Username">
						<label for="password">Password</label>
						<input class="register-form" type="password" id="password" name="password" placeholder="Password">
						<input class="register-form" type="submit" value="Sign Up" id="submit">
				</form>
		</div>
</main>
