body {
  font-family: sans-serif;
  background-color: #090b11;
  color: white;
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161a1f;
}

.nav li {
  float: left;
}

.nav li.right {
  float: right;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: #ff8533;
}

.nav a.active {
  background-color: #ff8533;
}

main {
  padding: 0 25px;
}

@media screen and (max-width: 600px) {
  .nav li.right,
.nav li {
    float: none;
  }
}
