@font-face {
  font-family: 'Modern Antiqua', cursive;
	font-family: 'Nosifer', cursive;
}

h1, h2, h3, h4{
	font-family: "Nosifer"
}

p, li, a, footer, input, button  {
	font-family: 'Modern Antiqua'
}
