<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ib</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Ib</h2>
        <div class="row">
            <div class="column">
								  <img src="../img/ib.jpg">
            </div>
            <div class="column2">
                <h2>About the Game:</h2>
                <p>Review Score: 5/5</p>
								<p>A game made in RPG maker. Take control of Ib who goes on a trip to an
								art museum with her parents. There is a sudden black out and everyone is gone.
							  She is led by paint splatters on the ground to a painting that takes her
							  to a world within the paintings. Help her escape this world and
							  reunite with her parents.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="messageboard">
                <h2>Reviews</h2>
                <p> Reviews will go here</p>
            </div
        </div>
    </main>
    <!--<footer>
        <div>Spooky Forums</div>
    </footer>-->
</body>
</html>
