<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resident Evil 2</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Resident Evil 2</h2>
				<section class="game_desc">
						<section class="game_img">
								<figure>
										<img alt="alien" src="../img/re2.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/re2.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/re2.jpg">
								</figure>
					 </section>
					 <div class="about">
					 	 		<h2>About the Game:</h2>
								<p>Review Score: 5/5</p>
								<p>The second entry in the Resident Evil series. It's Leon first day as a
								a police officer in Raccoon City and when he arrives at the city he finds
								Claire who arrived in the city at the same time looking for her brother Chris Redfield.
								The two of them have to survive the night facing against zombies and horrible monstrosities.
								What could have caused this outbreak?</p>
					 </div>
				</section>
				<div class="messageboard">
						<h2>Reviews</h2>
            <div class="review_block">
                <h3>Review 1</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
            <div class="review_block">
								<h3>Review 2</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
						<div class="review_block">
								<h3>Review 3</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
        </div>
				<section class="write_review">
						<form action="/action_page.php">
								<textarea id="review" name="review" placeholder="Write your review here.."></textarea>
								<input type="submit" value="Submit" id="submit">
						</form>
        </section>
    </main>
</body>
</html>
