<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocket Mirror</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Pocket Mirror</h2>
				<section class="game_desc">
						<section class="game_img">
								<figure>
										<img alt="alien" src="../img/pm.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/pm.jpg">
								</figure>
								<figure>
										<img alt="alien" src="../img/pm.jpg">
								</figure>
					 </section>
					 <div class="about">
					 		<h2>About the Game:</h2>
			 		 		<p>Review Score: 5/5</p>
			 		 		<p>A horror game made in RPG maker. Take control of a girl who has lost her memory and
			 			  who has been taken to a mysterious world. Explore this mysterious world and help her
			 			  uncover her true identity and meet interesting characters along the way.</p>
					 </div>
			</section>
			<section class="messageboard">
					<h2>Reviews</h2>
					<div class="review">
							<h3>Review 1</h3>
							<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
							bloodier than ever. Featuring a stunning visual presentation, updated controls and
							immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
							Department to life (and death) like never before. Offering a bone-chilling blend of
							cryptic puzzles, resource conservation and encounters with infected freaks, this one
							is best enjoyed with the lights down and the volume up.</p>
					</div>
					<div class="review">
							<h3>Review 2</h3>
							<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
							bloodier than ever. Featuring a stunning visual presentation, updated controls and
							immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
							Department to life (and death) like never before. Offering a bone-chilling blend of
							cryptic puzzles, resource conservation and encounters with infected freaks, this one
							is best enjoyed with the lights down and the volume up.</p>
					</div>
					<div class="review">
							<h3>Review 2</h3>
							<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
							bloodier than ever. Featuring a stunning visual presentation, updated controls and
							immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
							Department to life (and death) like never before. Offering a bone-chilling blend of
							cryptic puzzles, resource conservation and encounters with infected freaks, this one
							is best enjoyed with the lights down and the volume up.</p>
					</div>
				</section>
    </main>
</body>
</html>
