<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocket Mirror</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Pocket Mirror</h2>
        <div class="row">
            <div class="column">
								  <img src="../img/ib.jpg">
            </div>
            <div class="column2">
                <h2>About the Game:</h2>
                <p>Review Score: 5/5</p>
								<p>A horror game made in RPG maker. Take control of a girl who has lost her memory and
								who has been taken to a mysterious world. Explore this mysterious world and help her
							  uncover her true identity and meet interesting characters along the way.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="messageboard">
                <h2>Reviews</h2>
                <p> Reviews will go here</p>
            </div
        </div>
    </main>
    <!--<footer>
        <div>Spooky Forums</div>
    </footer>-->
</body>
</html>
