<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dead Space 2</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/forum.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h1 class="game_head">Dead Space 2</h1>
				<section class="game_desc">
						<section class="game_img">
								<figure>
										<img alt="ds2" src="../img/ds2.jpg">
								</figure>
								<figure>
										<img alt="ds2" src="../img/ds2.jpg">
								</figure>
								<figure>
										<img alt="ds2" src="../img/ds2.jpg">
								</figure>
					 </section>
					 <div class="about">
					 			<h2>About The Game:</h2>
								<p>Review Score: 5.0</p>
								<p>The second entry in the Dead Space series. Three years after Dead Space,
								Isaac Clarke awakens in a space station called the "Sprawl". There is a new necropmorph
								oubreak aboard the Sprawl and it is up to Isaac to stop it and uncover the truth of
								the outbreak and the dimentia he is now experiencing.</p>
					 </div>
				</section>
				<div class="messageboard">
						<h2>Reviews</h2>
            <div class="review_block">
                <h3>Review 1</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
            <div class="review_block">
								<h3>Review 2</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
						<div class="review_block">
								<h3>Review 3</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
        </div>
				<section class="write_review">
						<form action="/action_page.php">
								<textarea id="review" name="review" placeholder="Write your review here.."></textarea>
								<input type="submit" value="Submit" id="submit">
						</form>
        </section>
    </main>
</body>
</html>
