<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/games.css">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h2 id="game_head">Spooky Games</h2>
				<section>
						<figure id="alien"><a href="forum-alien.html">
								<figcaption>Alien: Isolation</figcaption>
								<img src="../img/alien.jpg">
						</a></figure>
						<figure id="ds"><a href="forum-ds1.html">
								<figcaption>Dead Space</figcaption>
								<img src="../img/ds.jpg">
						</a></figure>
						<figure id="pm"><a href="forum-pm.html">
								<figcaption>Pocket Mirror</figcaption>
								<img src="../img/pm.jpg">
						</a></figure>
				</section>
				<section>
						<figure id="re"><a href="forum-re1.html">
								<figcaption>Resident Evil</figcaption>
								<img src="../img/re.jpg">
						</a></figure>
						<figure id="re2"><a href="forum-re2.html">
								<figcaption>Resident Evil 2</figcaption>
								<img src="../img/re2.jpg">
						</a></figure>
						<figure id="re3"><a href="forum-re3.html">
								<figcaption>Resident Evil 3</figcaption>
								<img src="../img/re3.jpg">
						</a></figure>
				</section>
    </main>
</body>
</html>
