<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spooky Test</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
    <ul class="nav">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="games.html">Games</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="right"><a href="register.html">Sign Up</a></li>
        <li class="right"><a href="login.html">Log In</a></li>
    </ul>
    <main>
        <h1>Welcome to <span id="orange">Spooky Forums</span>!</h1>
        <img id="banner" alt="banner" src="../img/spooky.jpg">
        <div id="opening">
            <h2>Do you like spooky video games?</h2>
            <p>Spooky forums is a video game forum for all things spooky. Visit our games page
							to see our spooky game collection. Read the reviews for a game you were thinking
							about checking out or write a review for your favorite or least favorite game.
							Don't see your favorite spooky game? Recommend a game by going to our contact page!</p>
            <button type="button" id="button"><a href="register.html" id="register">Sign Up</a></button>
        </div>
        <h2 id="featured">Featured Games</h2>
				<section>
						<figure>
								<figcaption>Hollow Knight</figcaption>
								<img alt="hk" src="../img/hk.jpg">
						</figure>
						<figure>
								<figcaption>Resident Evil 2</figcaption>
								<img alt="re2" src="../img/re2.jpg">
						</figure>
						<figure>
								<figcaption>Pocket Mirror</figcaption>
								<img alt="pm" src="../img/pm.jpg">
						</figure>
				</section>
        <h2 id="news">Latest News</h2>
        <div class="row">
            <div class="post">
                <h3>Resident Evil 2</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
            <div class="post">
								<h3>Resident Evil 2</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
						<div class="post">
								<h3>Resident Evil 2</h3>
								<p>Rebuilt from the ground up, Capcom's survival horror classic returns better and
								bloodier than ever. Featuring a stunning visual presentation, updated controls and
								immersive audio design, Resident Evil 2 brings the zombie-infested Raccoon City Police
								Department to life (and death) like never before. Offering a bone-chilling blend of
								cryptic puzzles, resource conservation and encounters with infected freaks, this one
								is best enjoyed with the lights down and the volume up.</p>
            </div>
        </div>
    </main>
    <br>
    <footer>
        <div>@Spooky_Forums</div>
    </footer>
</body>
</html>
