{% set title1 = "Home" %}
{% set title2 = "Games" %}
{% set title3 = "Contact" %}
{% set title4 = "Sign Up" %}
{% set title5 = "Log In" %}
{% set title6 = "Alien: Isolation" %}
{% set title7 = "Dead Space" %}
{% set title8 = "Dead Space 2" %}
{% set title9 = "Doki-Doki Literature Club" %}
{% set title10 = "Hallow Knight" %}
{% set title11 = "Ib" %}
{% set title12 = "Luigi's Mansion 3" %}
{% set title13 = "Pocket Mirror" %}
{% set title14 = "Resident Evil 1" %}
{% set title15 = "Resident Evil 2" %}
{% set title16 = "Resident Evil 3" %}
{% set title17 = "Silent Hill 2" %}
